.discord{
    display: flex;
    align-content: center;
    margin-left: -20px;
    margin-top: -20px;
    color: #5865f2;
}
.info{
    display: flex;
    align-content: center;
    margin-left: -20px;
    margin-top: -20px;
    color: rgb(255, 255, 255);
}

.homepage{
    display: flex;
    align-content: center;
    margin-left: -20px;
    margin-top: -20px;
    color: rgb(255, 255, 255);
}

.youtube{
    display: flex;
    align-content: center;
    margin-left: -20px;
    margin-top: -20px;
    color: rgb(255 0 0);
}

