@media all {


@media screen and (max-width:500px) {
/* ================= ================= */

/* <!--------------------------------------- all -------------------------------------------------------- */

/* <!--------------------------------------- all -------------------------------------------------------- */
* {
    
    box-sizing: border-box;
    margin: 0;
    list-style: none;
    text-decoration: none;
    font-family: 'IBM Plex Sans Arabic', sans-serif cursive;
}

body {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
 }

 h1 {
    box-shadow: 5px 5px 35px rgb(110, 99, 99);
    margin: 10px;
    color: blanchedalmond;
    background-color: #200972;
    border-radius: 15px;
    text-align: center;
    padding: 10px 0;
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    -ms-border-radius: 15px;
    -o-border-radius: 15px;
}


/* <!--------------------------------------- all -------------------------------------------------------- */

/* <!--------------------------------------- header -------------------------------------------------------- */
header {
    box-shadow: 5px 5px 35px rgb(110, 99, 99);
    margin-left: auto;
    margin-right: auto;
    margin-top: -10px;
    background-color: #080943;
    color: blanchedalmond;
    border-radius: 0px 0px 40px 40px;
    margin-bottom: 100px;
    -webkit-border-radius: 0px 0px 40px 40px;
    -moz-border-radius: 0px 0px 40px 40px;
    -ms-border-radius: 0px 0px 40px 40px;
    -o-border-radius: 0px 0px 40px 40px;
}

header h1 {
    margin-bottom: 30px;
    margin-right: 30%;
}


/* <!--------------------------------------- header -------------------------------------------------------- */




/* <!--------------------------------------- learnig coding -------------------------------------------------------- */
.broo {
   margin-bottom: 40px;
   width: 49%;
   box-shadow: 5px 5px 35px rgba(255, 255, 255, 0.336);
   border-radius: 10px;
   text-align: center;
   -webkit-border-radius: 10px;
   transition: all 0.9s;
}

.broo:hover {
    color: rgb(255, 253, 253);
    border-bottom: 2px solid rgb(141, 7, 134);
    font-size: 30px;   
}
/* <!--------------------------------------- learnig coding -------------------------------------------------------- */




/* <!--------------------------------------- ul -------------------------------------------------------- */
.parent {
    display: flex;
    justify-content: space-around;
    padding-bottom: 20px;
}

.parent li a{
    color: rgb(249 249 249);
    font-size: 10px;
    display: inline-block;

}

.parent li a:hover{
    color: #0059ff;
    border-bottom: 2px solid #0059ff;
    font-size: 20px;
}


.all {
    border: 2px solid white;
    border-radius: 7px;
    -webkit-border-radius: 7px;
    -moz-border-radius: 7px;
    -ms-border-radius: 7px;
    -o-border-radius: 7px;
}

.all:hover {
    color: rgb(255, 253, 253);
    border-bottom: 2px solid rgb(141, 7, 134);
    font-size: 20px;   
}
/* <!--------------------------------------- ul -------------------------------------------------------- */



/* <!--------------------------------------- animation -------------------------------------------------------- */
section {
    animation: MoveUp 2s 1 forwards;
    margin-bottom: 50px;
}




@keyframes MoveUp {
    0%{
      opacity: 0;
      transform: translateY(100px);
      -webkit-transform: translateY(100px);
      -moz-transform: translateY(100px);
      -ms-transform: translateY(100px);
      -o-transform: translateY(100px);
}
    100%{
      transform: translateY(0px);
    }
  }
/* <!--------------------------------------- animation -------------------------------------------------------- */



/* <!--------------------------------------- left-section, .right-section -------------------------------------------------------- */
.flex {
    box-shadow: 5px 5px 35px black;
    padding: 62px;
    background-color: #00395c;
    border-radius: 10px;
    width: 98%;
    height: 816px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
}

.left-section, .right-section {
    width: 290px;
    
    box-shadow: 5px 5px 35px rgb(229 76 33);
    border-radius:10px ;
    text-align: center;
     margin: 18px;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
   }
   
   
   .left-section, .right-section:hover {
       color: rgb(255, 255, 255);
       font-size: 15px;
   } 

   .btn1 {
    outline: none;
    display: block;
    border-bottom: 2px solid rgb(187, 102, 79);
    line-height: 1px;
    padding: 16px 15px;
    width: 70%;
    font-size: 15px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background: #200972;
    cursor: pointer;
}


.btn11{
    border-bottom: 2px solid rgb(0, 0, 0);
    color: #fff;
    padding: 20 16;
}






   .html1 {
    width: 230px;
    height: 220px;
    margin-top: 12px;
    
}


.flexs2 {
    box-shadow: 5px 5px 35px black;
    padding: 40px;
    background-color: #00395c;
    border-radius: 10px;
    width: 98%;
    height: 881px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
}


.left-section2, .right-section2 {
    width: 290px;
    
    box-shadow: 5px 5px 35px rgb(38 77 228);
    border-radius:10px ;
    text-align: center;
     margin: 22px;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
   }

   

   .css1 {
    width: 161px;
    height: 211px;
    margin-top: 12px;
   }


   
   .flexs3 {
    box-shadow: 5px 5px 35px black;
    padding: 40px;
    background-color: #00395c;
    border-radius: 10px;
    width: 98%;
    height: 990px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
}


.left-section3, .right-section3 {
    width: 290px;
    
    box-shadow: 5px 5px 35px rgb(213 185 50);
    border-radius:10px ;
    text-align: center;
     margin: 10px;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
   }

   .btn2 {
    outline: none;
    display: block;
    border-bottom: 2px solid rgb(187, 102, 79);
    line-height: 1px;
    padding: 16px 15px;
    width: 70%;
    font-size: 15px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background: #200972;
    cursor: pointer;
}


.btn22{
    border-bottom: 2px solid rgb(0, 0, 0);
    color: #fff;
    padding: 20 16;
}



.js1 {
 width: 230px;
 margin-top: 50px;
  
}
  


   .flex4 {
    box-shadow: 5px 5px 35px black;
    padding: 40px;
    background-color: #00395c;
    border-radius: 10px;
    width: 98%;
    height: 770px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: stretch;
    justify-content: space-evenly;
    align-items: center;
}


.left-section4, .right-section4 {
    width: 290px;
    box-shadow: 5px 5px 35px rgb(162 168 251);
    border-radius:10px ;
    text-align: center;
    margin: 30px;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
   }

   .btn3 {
    outline: none;
    display: block;
    border-bottom: 2px solid rgb(187, 102, 79);
    line-height: 1px;
    padding: 16px 15px;
    width: 70%;
    font-size: 15px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background: #200972;
    cursor: pointer;
}


.btn33{
    border-bottom: 2px solid rgb(0, 0, 0);
    color: #fff;
    padding: 20 16;
}


.btn4 {
    outline: none;
    display: block;
    border-bottom: 2px solid rgb(187, 102, 79);
    line-height: 1px;
    padding: 16px 15px;
    width: 70%;
    font-size: 15px;
    margin-right: auto;
    margin-left: auto;
    border-radius: 30px;
    -webkit-border-radius: 30px;
    -moz-border-radius: 30px;
    -ms-border-radius: 30px;
    -o-border-radius: 30px;
    background: #200972;
    cursor: pointer;
}


.btn44{
    border-bottom: 2px solid rgb(0, 0, 0);
    color: #fff;
    padding: 20 16;
}
   .php1 {
      width: 254px;
      margin-top: 8px;
    }
   


   .flex5 {
    box-shadow: 5px 5px 35px black;
    padding: 40px;
    background-color: #00395c;
    border-radius: 10px;
    width: 80%;
    margin: 30px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


.left-section5, .right-section5 {
    width: 49%;
    box-shadow: 5px 5px 35px white;
    border-radius:10px ;
    text-align: center;
    margin: 30px;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
   }


   .flex6 {
    box-shadow: 5px 5px 35px black;
    padding: 40px;
    background-color: #00395c;
    border-radius: 10px;
    width: 80%;
    margin: 30px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}


.left-section6, .right-section6 {
    width: 49%;
    box-shadow: 5px 5px 35px white;
    border-radius:10px ;
    text-align: center;
    margin: 30px;
    -webkit-border-radius:10px ;
    -moz-border-radius:10px ;
    -ms-border-radius:10px ;
    -o-border-radius:10px ;
   }

/* <!--------------------------------------- left-section, .right-section -------------------------------------------------------- */






/* <!--------------------------------------- footer -------------------------------------------------------- */
.fofo {
    position: relative;
    margin-top: 114px;
}

   


footer {
    color: antiquewhite;
    background-color: #220e25;
    border-radius: 20px 20px 0 0;
    padding: 30px;
    text-align: center;
    -webkit-border-radius: 20px 20px 0 0;
    -moz-border-radius: 20px 20px 0 0;
    -ms-border-radius: 20px 20px 0 0;
    -o-border-radius: 20px 20px 0 0;
}

/* <!--------------------------------------- footer -------------------------------------------------------- */


   

}}